<script type="text/x-template" id="filtered-table">
    <div>
        <nav class="level is-mobile">
            <div class="level-left">
                <p class="level-item title is-4">[[top_title]]</p>
            </div>
            <div class="level-right">
                <p class="level-item" v-show="total>0" v-for="item in stats">[[item]]</p>
                <p class="level-item" v-show="total>0">S:[[serverTime]]</p>
                <p class="level-item" v-show="total>0">T:[[totalTime]]</p>
            </div>
        </nav>
        <v-filter-container @input="onFilterChange"></v-filter-container>
        <br>
        <b-table
            :data="isEmpty ? [] : table_data.data"  :loading="isLoading"
            :striped="isStriped" :narrowed="isNarrowed" :mobile-cards="mobileCards"
            paginated backend-pagination :total="total" :per-page="perPage" :current-page="table_data.page" @page-change="onPageChange"
            backend-sorting :default-sort="[sortField, sortOrder]" @sort="onSort"
        >
            <template slot-scope="props">
                <b-table-column v-for="(column, index) in table_data.columns"
                    :key="index"
                    :field="column.field"
                    :label="column.label"
                    :visible="column.visible"
                    :numeric="column.type=='numeric'"
                                :centered="column.type=='bool'"
                    sortable >
                        <slot :name="column.label" v-bind="{'column': column, 'props': props}">
                            <b-icon icon="check" size="is-small"
                                    v-if="column.type == 'bool' && props.row[column.field]==true"></b-icon>
                            <span v-if="column.type != 'bool'" v-html="props.row[column.field]"></span>
                        </slot>
                </b-table-column>
            </template>

            <template slot="empty">
                <section class="section">
                    <div class="content has-text-grey has-text-centered">
                        <p>
                            <b-icon
                                icon="emoticon-sad"
                                size="is-large">
                            </b-icon>
                        </p>
                        <p>{{FFilter.transl.noresult}}</p>
                    </div>
                </section>
            </template>
        </b-table>
    </div>
</script>
<script>
Vue.component('v-filtered-table', {
    template: '#filtered-table',
    props: {
        top_title: { type: String },
        perPage: {
            type: [Number, String],
            default: 20
        },
        isStriped: {type: Boolean, default: true},
        isNarrowed: {type: Boolean, default: true},
        mobileCards: {type: Boolean, default: false},
    },
    data() {
        return {
            isEmpty: false,
            isLoading: false,

            total: 0,
            stats: [],
            filter:'',
            table_data: {{table_data|safe}},

            serverTime:null,
            totalTime:null,
        }
    },
    computed: {
        sortField: {
            get: function () {
                res = this.table_data.sort_by
                if (res.slice(0,1)=='-') {
                    res = res.slice(1)
                }
                return res
            },
            set: function (newVal) {
                sortDir = this.sortOrder == 'asc' ? '' : '-'
                this.table_data.sort_by = sortDir + newVal
            }
        },
        sortOrder: {
            get: function () {
                return this.table_data.sort_by.slice(0,1)=='-' ? 'desc' : 'asc'
            },
            set: function (newVal) {
                sortDir = newVal == 'asc' ? '' : '-'
                this.table_data.sort_by = sortDir + this.sortField
            }
        },
    },
    methods: {
        loadAsyncData() {
            startTime=Date.now()
            params = [`${this.filter}`, `page=${this.table_data.page}`]
            if (this.table_data.sort_by != '') {
                params.push(`sort_by=${this.table_data.sort_by}`)
            }
            params = params.join('&')
            this.isLoading = true

            axios.get(`${location.pathname}?ajax=1&${params}`)
                .then(({ data }) => {
                    this.serverTime=Date.now()-startTime
                    this.total = data.total_results
                    this.stats = data.stats
                    this.table_data=data.table_data
                    this.isLoading = false
                    this.totalTime=Date.now()-startTime

                    var currentPageCrit = location.pathname;
                    var state = {"params": location.search};
                    history.replaceState(state, null, `?${params}`);
                })
                .catch((error) => {
                    this.total = 0
                    this.isLoading = false
                    throw error
                })
        },
        onFilterChange(filter) {
            this.filter = filter
            this.loadAsyncData()
        },
        onPageChange(page) {
            this.table_data.page = page
            this.loadAsyncData()
        },
        onSort(field, order) {
            this.sortField = field
            this.sortOrder = order
            this.loadAsyncData()
        },
    },
})
</script>