
<script type="text/x-template" id="v-filter-string-template">
    <v-filter {{FFilter.template.std|safe}}>
        <b-dropdown-item custom><b-field>
            <b-input :placeholder="placeholder"
                        v-model="localValue">
            </b-input>
        </b-field></b-dropdown-item>
    </v-filter>
</script>
<script>
Vue.component('v-filter-string', {
    mixins: [MixinFrBase],
    template: '#v-filter-string-template',
    props: ['placeholder'],
    data: function () {
        return {
            localValue: ""
        }
    },
    computed: {
        tempFilter: {
            get: function () {
                return this.localValue
            },
            set: function (newVal) {
                this.localValue = newVal
            }
        }
    },
})
</script>
