{% extends 'base.html' %}
{% load static %}

{% block title %}{% block page_title %}Temperature monitor{% endblock %}{% endblock %}

{% block favicon %}
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'tempmon/favicon_io/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'tempmon/favicon_io/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'tempmon/favicon_io/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'tempmon/favicon_io/site.webmanifest' %}">
{% endblock favicon %}

{% block navbar %}
<section class="hero {% if psn_ok %}is-primary{% else %}is-danger{% endif %} is-small">
    <div class="hero-body">
        <p class="title">
            {% block hero_title %}
            <img src="{% static 'tempmon/icon_white.png' %}" alt="Tempmon"> Temperature monitor
            {% endblock %}
        </p>
        <p class="subtitle">
            {% block subtitle %}{% endblock %}
        </p>
    </div>
</section>
{% endblock %}

{% block body %}
<section class="section">
{% block details_table %}{% endblock %}
{% block body2 %}{% endblock %}
</section>
{% endblock %}
