{% extends 'tempmon/base.html' %}
{% load static %}

{% block subtitle %}
{% if psn_ok %}
<div class="is-size-7">
{% else %}
<div class="is-size-3">
{% endif %}
    <a href="{% url 'psn_npsso_update' 1 %}">Update NPSSO code</a>
</div>
{% endblock %}

{% block body2 %}
<div class="container">
    <div id="vue_app">
        <div v-cloak>
            <v-filtered-table top_title="{{list_title}}" :mobile-cards="'{{is_mobile_card}}'=='True'"></v-filtered-table>
        </div>
    </div>
</div>

<script>
    Vue.use(Buefy.default)
    Vue.mixin({ delimiters: ['[[',']]'] });
</script>
{% include 'v-filter/v-include.html' %}
<script>
    var mixin = {
        data: function () {
            return {
                containerSize: "is-desktop",
            }
        },
    }

    const app_data = {
        mixins:[mixin],
        delimiters: ['[[', ']]'],
    }
    const app = new Vue(app_data)
    app.$mount('#vue_app')
</script>
{% endblock %}