{% extends 'tempmon/base_tabs.html' %}
{% load util_tags %}

{% block page_title %}{{ list_title }}{% endblock %}

{% block body3 %}
<div class="container">
    <h1 class="title is-4">{{ list_title }}</h1>

    <form hx-get="{{ request.path }}" hx-target="#results" hx-push-url="true" hx-swap="outerHTML"
          hx-trigger="input changed delay:400ms, change, submit">
        {% for filter, value in filters %}
        {% render_filter filter value %}
        {% endfor %}
        <button class="button is-primary" type="submit">Apply</button>
    </form>

    {% include 'ui/_table.html' %}
</div>
{% endblock %}
