{% extends 'kukan/base.html' %}
{% block body %}
<main>
    <section class="hero is-small" v-bind:class="busStopMain.class">
        <div class="hero-body">
            <nav class="level is-mobile">
                <!-- Left side -->
                <div class="level-left">
                    <div class="level-item title">
                        [[busStopMain.name]]
                    </div>
                </div>
                <!-- Right side -->
                <div class="level-right">
                    <div class="level-item">
                        <a class="button is-small"
                           v-bind:class="busStopOther.class"
                           v-bind:href="['{% url 'bustime:bustime_main' %}?station=' + busStopOther.name]"
                        >
                            [[busStopOther.name]]
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </section>

    <div class="container is-widescreen">
        <section class="hero has-background-light is-small">
            <div class="hero-body ">
                <nav v-if="next_time" class="level is-mobile">
                    <!-- Left side -->
                    <div class="level-left">
                        <div class="level-item">
                            <div class="block">
                                <p>先発</p>
                                <p><span class="title is-4">[[next_time]]</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- Right side -->
                    <div class="level-right">
                        <p class="level-item">後</p>
                        <table class="title is-1">
                            <tr style="visibility:collapse;">
                                <td>4</td>
                                <td>:</td>
                                <td>4</td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <td style="text-align: right">
                                    [[time_to_next.substr(0, time_to_next.length
                                    - 3)]]
                                </td>
                                <td>:</td>
                                <td style="text-align: center">
                                    [[time_to_next.charAt(time_to_next.length -
                                    2)]]
                                </td>
                                <td style="text-align: center">
                                    [[time_to_next.charAt(time_to_next.length -
                                    1)]]
                                </td>
                            </tr>
                        </table>
                    </div>
                </nav>
                <div v-else　class="subtitle">本日運行終了</div>
            </div>
        </section>

        <section class="hero has-background-light is-small">
            <div v-if="next2_time" class="hero-body ">
                <nav class="level is-mobile">
                    <!-- Left side -->
                    <div class="level-left">
                        <div class="level-item">
                            <div class="block">
                                <p>先発</p>
                                <p><span
                                        class="title is-4">[[next2_time]]</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- Right side -->
                    <div class="level-right">
                        <p class="level-item">後</p>
                        <table class="title is-3">
                            <tr style="visibility:collapse;">
                                <td>4</td>
                                <td>:</td>
                                <td>4</td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <td style="text-align: right">
                                    [[time_to_next2.substr(0,
                                    time_to_next2.length - 3)]]
                                </td>
                                <td>:</td>
                                <td style="text-align: center">
                                    [[time_to_next2.charAt(time_to_next2.length
                                    - 2)]]
                                </td>
                                <td style="text-align: center">
                                    [[time_to_next2.charAt(time_to_next2.length
                                    - 1)]]
                                </td>
                            </tr>
                        </table>
                    </div>
                </nav>
            </div>
        </section>

        <section class="section" style="padding-top: 1rem;padding-bottom: 1rem">
            <div class="columns is-multiline is-mobile">
                <div v-for="t in jstimes.slice(2)"
                     class="column is-one-quarter">
                    [[new Date(t).toTimeString().substr(0, 5)]]
                </div>
            </div>
        </section>
    </div>
</main>
{% endblock body%}

{% block vue_data %}
    data() {
        return {
            busStopMain: {{busStopMain|safe}},
            busStopOther: {{busStopOther|safe}},
            jstimes: [
                {% for bus_time in list_times %}
                  {{ bus_time|date:"U" }}000,
                {% endfor %}
                ],
            next_time: '',
            time_to_next: '',
            next2_time: '',
            time_to_next2: '',
        }
    },
    methods: {
         msToTime(s) {
            let ms = s % 1000;
            s = (s - ms) / 1000;
            let secs = s % 60;
            s = (s - secs) / 60;
            let mins = s % 60;
            let hrs = (s - mins) / 60;

            if (secs < 10) {
                secs = '0' + secs;
            }

            if (hrs > 0) {
                if (mins < 10) {
                    mins = '0' + mins;
                }
                return hrs + ':' + mins + ':' + secs;
            } else {
                 return mins + ':' + secs;
            }
        },
        updateTimer() {
            let now = Date.now();

            this.jstimes = this.jstimes.filter(o => o > now)

            let next = this.jstimes.find(o => o > now);
            if (next) {
                next = new Date(next)
                this.next_time = next.toTimeString().substr(0, 5);
                this.time_to_next = this.msToTime(next - now);
            } else {
                this.next_time = null;
                this.time_to_next = null;
            }

            let next2 = this.jstimes.find(o => o > next);
            if (next2) {
                next2 = new Date(next2)
                this.next2_time = next2.toTimeString().substr(0, 5);
                this.time_to_next2 = this.msToTime(next2 - now);
            } else {
                this.next2_time = null;
                this.time_to_next2 = null;
            }

            setTimeout(() => {
                this.updateTimer()
            }, 1000);
        }
    },
    created: function () {
        this.updateTimer()
    }
{% endblock vue_data%}

