{% extends 'kukan/base.html' %}
{% block top_html %}<html class="has-navbar-fixed-top">{% endblock %}
{% block body %}
    {% block banner %}{% endblock %}
    <section class="section" style="padding-top: 1rem;padding-bottom: 1rem">
        <main>
            <fr-navbar color="is-light" :fix_navbar="showNavBar"
                       v-bind:class="{ 'is-hidden': !showNavBar }"></fr-navbar>
            <div class="container" v-bind:class="containerSize">
                {% block content %}
                {% endblock %}
            </div>
        </main>
</section>
{% endblock body%}

{% block mixin_ext %}
    var mixin_ext = {
        data: function () {
            return {
                showNavBar: true,
            }
        },
    }
{% endblock %}

{% block script %}
    {% block extra_script %}{% endblock %}
    {% block vue_component %}{% endblock %}
{% endblock script%}