{% load static %}
<!doctype html>
{% block top_html %}<html>{% endblock %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}漢字辞典{% endblock %}</title>

<link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/favicon/apple-icon-57x57.png' %}">
<link rel="apple-touch-icon" sizes="60x60" href="{% static 'images/favicon/apple-icon-60x60.png' %}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/favicon/apple-icon-72x72.png' %}">
<link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/favicon/apple-icon-76x76.png' %}">
<link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/favicon/apple-icon-114x114.png' %}">
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/favicon/apple-icon-120x120.png' %}">
<link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/favicon/apple-icon-144x144.png' %}">
<link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/favicon/apple-icon-152x152.png' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-icon-180x180.png' %}">
<link rel="icon" type="image/png" sizes="192x192"  href="{% static 'images/favicon/android-icon-192x192.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/favicon/favicon-96x96.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'images/favicon/manifest.json' %}">


        <link rel="stylesheet" href="{% static 'js/node_modules/buefy/lib/buefy.css' %}">
        <link rel="stylesheet" href="{% static 'js/node_modules/mdi/css/materialdesignicons.min.css' %}">
        {% if debug %}
            <script src="{% static 'js/node_modules/vue/dist/vue.js' %}"></script>
        {% else %}
            <script src="{% static 'js/node_modules/vue/dist/vue.min.js' %}"></script>
        {% endif %}
        <script src="{% static 'js/node_modules/buefy/lib/index.js' %}"></script>
        <script src="{% static 'js/node_modules/axios/dist/axios.min.js' %}"></script>

        <style>
          [v-cloak] {
            display: none;
          }
        </style>
        <style type="text/css">
            @font-face {
                font-family: KanjiStrokeOrders;
                src: url({% static 'fonts/KanjiStrokeOrders.ttf' %}) format('truetype');
                font-weight: bold;
            }

            div.kanji
            {
                font-family: KanjiStrokeOrders;
                font-size: 230px
            }
        </style>
    </head>
    <body>
        <div id="vue_app">
            <div v-cloak>
            {% block body %}{% endblock %}
            </div>
        </div>
    </body>
</html>

<script>
    Vue.use(Buefy.default)
    Vue.mixin({ delimiters: ['[[',']]'] });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {

        // Get all "navbar-burger" elements
        var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach(function($el) {
                $el.addEventListener('click', function() {

                    // Get the target from the "data-target" attribute
                    var target = $el.dataset.target;
                    var $target = document.getElementById(target);

                    // Toggle the class on both the "navbar-burger" and the "navbar-menu"
                    $el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }

    });
</script>
{% block script %}{% endblock %}
{% include 'kukan/vue_navbar.html' %}
<script>
    var mixin = {
        data: function () {
            return {
                containerSize: "is-desktop",
            }
        },
    }

    {% block mixin_ext %}
        var mixin_ext = {
            data: function () {
                return {
                    dummy: "-"
                }
            },
        }
    {% endblock %}

    const app_data = {
        mixins:[mixin, mixin_ext],
        delimiters: ['[[', ']]'],
        {% block vue_data %}
        {% endblock %}
    }
    const app = new Vue(app_data)
    app.$mount('#vue_app')
</script>