{% extends 'kukan/base.html' %}
{% block top_html %}<html class="has-navbar-fixed-top">{% endblock %}
{% block body %}
        <main>
            <nav class="navbar is-light is-fixed-top">
                <div class="navbar-brand">

                    <div class="navbar-item is-hidden-desktop">
                        <form :action="formLink" method="get">
                            <b-field grouped>
                                <input class="input" type="search" placeholder="検索..." style="width:140px" :name="critName"></input>
                                <b-field>
                                    <input type="submit" class="button is-light" :value="searchItem" />

                                        <b-dropdown v-model="searchItem" position="is-bottom-left" @submit.prevent>
                                            <button class="button is-light" slot="trigger" @click.prevent>
                                                <b-icon icon="menu-down"></b-icon>
                                            </button>

                                            <b-dropdown-item value="漢字">漢字</b-dropdown-item>
                                            <b-dropdown-item value="四字" disabled>四字熟語</b-dropdown-item>
                                            <b-dropdown-item value="例文">例文</b-dropdown-item>
                                        </b-dropdown>
                                </b-field>
                        </b-field>
                        </form>
                    </div>
                    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div id="navbarExampleTransparentExample" class="navbar-menu">
                    <div class="navbar-start">
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link" href="/kukan">
                                <!-- TODO -->
                                <!--<img src="https://bulma.io/i　mages/bulma-logo.png" alt="漢字辞典" width="100" height="28">-->
                                <b-icon icon="home"></b-icon>
                            </a>
                            <div class="navbar-dropdown is-boxed">
                                <a class="navbar-item" href="{% url 'kukan:stats' %}">
                                統計
                                </a>
                                <a class="navbar-item" href="{% url 'kukan:export' %}">
                                エクスポート
                                </a>
                                <a class="navbar-item" href="{% url 'kukan:kanji_lstfilter' %}">
                                漢字一覧
                                <a class="navbar-item" href="{% url 'kukan:example_list' %}">
                                例文一覧
                                </a>
                                <a class="navbar-item" href="{% url 'kukan:example-add' %}">
                                例文作成
                                </a>
                                <a class="navbar-item" href="http://www.bunka.go.jp/kokugo_nihongo/sisaku/joho/joho/kijun/naikaku/pdf/joyokanjihyo_20101130.pdf">
                                    常用漢字表
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="navbar-end">
                        <div class="navbar-item is-hidden-touch">
                                <div class="field is-grouped">
                                    <p class="control">
                                        <input class="input" type="text" placeholder="検索" v-model="searchVal">
                                    </p>
                                    <form action="/kukan/kanji/list/" method="get">
                                        <input name="漢字" type="hidden" v-model="searchVal">
                                        <input type="submit" class="button is-light" value="漢字" />
                                    </form>
                                    <form action="/kukan/yoji/list/" method="get">
                                        <input name="四字" type="hidden" v-model="searchVal">
                                        <input type="submit" class="button is-light" value="四字" />
                                    </form>
                                    <form action="/kukan/example/list/" method="get">
                                        <input name="単語" type="hidden" v-model="searchVal">
                                        <input type="submit" class="button is-light" value="例文" />
                                    </form>
                                </div>
                        </div>
                    </div>
                </div>
            </nav>
            {% block content %}
            {% endblock %}
        </main>
{% endblock body%}

{% block ext_script %}
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    {% block script %}{% endblock %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {

            // Get all "navbar-burger" elements
            var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Check if there are any navbar burgers
            if ($navbarBurgers.length > 0) {

                // Add a click event on each of them
                $navbarBurgers.forEach(function($el) {
                    $el.addEventListener('click', function() {

                        // Get the target from the "data-target" attribute
                        var target = $el.dataset.target;
                        var $target = document.getElementById(target);

                        // Toggle the class on both the "navbar-burger" and the "navbar-menu"
                        $el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');

                    });
                });
            }

        });
    </script>
{% endblock%}

{% block mixin_ext %}
        var mixin_ext = {
            data: function () {
                return {
                    searchItem: "漢字",
                    searchVal:"",
                }
            },
            computed: {
                formLink: function () {
                    if (this.searchItem == "漢字") {return "/kukan/kanji/list/"}
                    if (this.searchItem == "例文") {return "/kukan/example/list/"}
                },
                critName: function () {
                    if (this.searchItem == "漢字") {return "漢字"}
                    if (this.searchItem == "例文") {return "単語"}
                }
            }
        }
{% endblock %}
</html>