{% load static %}
<!doctype html>
{% block top_html %}<html>{% endblock %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}漢字辞典{% endblock %}</title>

        <link rel="stylesheet" href="{% static 'js/node_modules/buefy/lib/buefy.css' %}">
        <link rel="stylesheet" href="{% static 'js/node_modules/mdi/css/materialdesignicons.min.css' %}">
        {% if debug %}
            <script src="{% static 'js/node_modules/vue/dist/vue.js' %}"></script>
        {% else %}
            <script src="{% static 'js/node_modules/vue/dist/vue.min.js' %}"></script>
        {% endif %}
        <script src="{% static 'js/node_modules/buefy/lib/index.js' %}"></script>
        <script src="{% static 'js/node_modules/axios/dist/axios.min.js' %}"></script>

        <style>
          [v-cloak] {
            display: none;
          }
        </style>
        <style type="text/css">
            @font-face {
                font-family: KanjiStrokeOrders;
                src: url({% static 'fonts/KanjiStrokeOrders.ttf' %}) format('truetype');
                font-weight: bold;
            }

            div.kanji
            {
                font-family: KanjiStrokeOrders;
                font-size: 230px
            }
        </style>
    </head>

    <body>
    {% block banner %}{% endblock %}
        <section class="section" style="padding-top: 1rem;padding-bottom: 1rem">
            <div id="vue_app" class="container" v-bind:class="containerSize">
                <div v-cloak>
                    {% block body %}{% endblock %}
                </div>
            </div>
        </section>
    </body>

    <script>
        Vue.use(Buefy.default)
    </script>
        {% block ext_script %}{% endblock %}

        {% block vue_component %}{% endblock %}

    <script>
        var mixin = {
            data: function () {
                return {
                    containerSize: "is-desktop",
                }
            }
        }

        {% block mixin_ext %}
        {% endblock %}

        const app_data = {
            mixins:[mixin, mixin_ext],
            delimiters: ['[[', ']]'],
            {% block vue_data %}
            {% endblock %}
        }
        const app = new Vue(app_data)
        app.$mount('#vue_app')
    </script>
</html>