{% extends 'kukan/base_ext.html' %}
{% load widget_tweaks %}

{% block title %}
例文の訂正
{% endblock %}

{% block banner %}
    <section class="hero is-link is-hidden-mobile">
      <div class="hero-body">
        <div class="container">
          <h2 class="title">
            例文の訂正
          </h2>
        </div>
      </div>
    </section>

<div class="container">
  <div class="notification is-primary is-hidden-tablet">
    <strong>例文の訂正</strong>
  </div>
</div>
{% endblock %}

{% block content %}

    <b-modal :active.sync="showCandidateDefinition" :width="500">
        <div class="box">
            <div class="columns">
                <div class="column is-narrow">
                    <div class="content"><strong>候補選択</strong></div>
                </div>
                <div class="column">
                    <div class="columns" v-for="item in candidates">
                        <div class="column">
                            <nav class="level">
                                <div class="level-item">
                                    <button class="button is-info"
                                            @click="getDefinition(item.link)">
                                        [[item.word]]
                                    </button>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </b-modal>

{% if form.non_field_errors %}
    <div class="notification is-danger">
        {{ form.non_field_errors }}
    </div>
{% endif %}
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="notification is-danger">
                <strong>{{ field.label |escape }}: </strong>
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
<form action="." method="post">
{% csrf_token %}
    <nav class="level is-mobile">
        <div class="level-left">
            <div class="level-item">
                <input type="submit" class="button is-link" value="保存" />
            </div>
        </div>
        <div class="level-right">
            <div class="buttons">
                    <a class="button is-info" @click="getDefinition('')" :disabled="word==''">意味習得</a>
                    <a class="button is-info" @click="onGuessReadings" :disabled="yomi==''">読み設定</a>
                    <a class="button is-info" :class="{'is-outlined':!showOptDisp}"
                       @click="btnShowOptDisp = !showOptDisp" :disabled="hasOptInput">任意表示</a>
            </div>
        </div>
    </nav>

    <div class="columns">
        <div class="column">
            <div class="field">
                <label class="label">単語</label>
                <div class="control">
                    <input placeholder="単語（漢字・仮名）" :readonly=is_joyo class="input" type="text"
                            v-model="word"
                            name="word"
                            v-bind:class="{ 'is-static': is_joyo }"

                            @blur="onChangeWord"

                            expanded required>
                </div>
            </div>
            <b-notification v-if='info_similar_word.length > 0' type="is-info">
                単語を含む既存の例文：<br>
                    <div v-for="item in info_similar_word">
                        <b-icon icon="__mydumy__" size="is-small"></b-icon>[[ item ]]<br>
                    </div>
            </b-notification>
        </div>
        <div class="column">
            <div class="field">
                <label class="label">読み方</label>
                <div class="field-body">
                    <div class="field is-expanded">
                        <div class="field has-addons">
                            <p class="control is-expanded">
                                <b-input v-model="yomi" name="yomi" placeholder="読み方（カタカナ）" expanded required></b-input>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            {% if form.yomi.errors %}
                {% for error in form.yomi.errors %}
                    <p class="help is-danger">{{ error|escape }}</p>
                {% endfor %}
            {% endif %}
        </div>

        <div class="column" v-show="showOptDisp">
            <div class="field">
                <label class="label">単語（例文）</label>
                <div class="control">
                    <input placeholder="（任意）例文中の語形" class="input" type="text"
                            v-model="word_native"
                            name="word_native"

                            @blur="onChangeWord"

                            expanded>
                </div>
            </div>
        </div>
        <div class="column" v-show="showOptDisp">
            <div class="field">
                <label class="label">読み方（例文）</label>
                <div class="field-body">
                    <div class="field is-expanded">
                        <p class="control is-expanded">
                            <input v-model="yomi_native"
                                   class="input" type="text"
                                   name="yomi_native"
                                   placeholder="（任意）例文中の読み方（カタカナ）"
                                   expanded></input>
                        </p>
                    </div>
                </div>
            </div>

            {% if form.yomi_native.errors %}
                {% for error in form.yomi_native.errors %}
                    <p class="help is-danger">{{ error|escape }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>


    <div class="columns is-multiline is-centered">
        <div v-for="(kj, dummy, idx) in reading_data" class="column">
            <div class="columns is-mobile">
                <div class="column is-narrow">
                    <p class="is-size-1">[[ kj.kanji ]]</p>
                </div>
                <div class="column" style="min-width: 180px;">
                    <div class="field">
                        <label class="label help">[[kj.joyo ? '常用漢字票の読み' : '「'+kj.kanji+'」の読み']]</label>
                        <div class="control is-expanded">

                            <div v-if="kj.joyo" class="">
                                <input readonly="readonly" class="input is-static" type="text"
                                    v-model="kj.selected">
                            </div>
                            <div v-else class="select is-fullwidth">
                                <b-select required placeholder="未設定" expanded v-model="reading_selected[idx]" name="reading_selected">
                                    <option
                                        v-for="rd in kj.readings"
                                        :value="rd.key"
                                        :key="rd.key">
                                        [[ rd.read ]]
                                    </option>
                                </b-select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<input readonly="readonly" class="input is-static" type="text" v-model="reading_selected">-->
    <input readonly="readonly" name="reading_selected" class="input is-static" type="hidden" v-model="reading_selected">
    <div class="field">
        <label class="label">例文</label>
        <input class="input "
               v-model="sentence"
               name="sentence"
               {% if form.sentence.errors %}v-bind:class="{'is-danger':true}"{% endif %}
               placeholder="単語を含む例文を入力ください。">
        {% if form.sentence.errors %}
            {% for error in form.sentence.errors %}
                <p class="help is-danger">{{ error|escape }}</p>
            {% endfor %}
        {% endif %}
    </div>

    <div class="field">
        <label class="label">単語の意味</label>
        <div class="control">
            <textarea v-model="definition"
                      name="definition"
                      class="textarea"
                      placeholder="単語の意味・説明の文章を入力ください。"
                      rows="8"></textarea>
        </div>
        {% if form.definition.errors %}
            {% for error in form.definition.errors %}
                <p class="help is-danger">{{ error|escape }}</p>
            {% endfor %}
        {% endif %}
    </div>
</form>
{% endblock %}

{% block extra_script %}
<script>
    const example_id = '{{example.id|default_if_none:'None'}}'
</script>
{% endblock %}

{% block vue_data %}
    data() {
        return {
            showNavBar: false,
            showCandidateDefinition:false,
            word: '{{ form.word.value|default_if_none:'' }}',
            word_native: '{{ form.word_native.value|default_if_none:'' }}',
            info_similar_word: [],
            yomi: '{{ form.yomi.value|default_if_none:'' }}',
            yomi_native: '{{ form.yomi_native.value|default_if_none:'' }}',
            sentence: '{{ form.sentence.value|default_if_none:'' }}',
            definition: '{{ form.definition.value|default_if_none:''|escapejs }}',
            is_joyo: {{ example.is_joyo|yesno:"true,false" }},
            reading_data: [],
            reading_selected: [{{form.reading_selected.value|default_if_none:''}}],
            candidates: '',
            btnShowOptDisp: false,
        }
    },
    computed: {
        hasOptInput: function() {
            return this.word_native != "" || this.yomi_native != ""
        },
        showOptDisp: function() {
            return this.btnShowOptDisp || this.hasOptInput
        }
    },
    methods: {
        loadReadings() {
            const params = [
                `ex_id=${example_id}`,
                `word=${this.word}`,
                `word_native=${this.word_native}`,
                `reading_selected=${this.reading_selected}`,
            ].join('&')
            axios.get(`/ajax/get_yomi/?${params}`)
                .then(({ data }) => {
                    this.reading_data = data.reading_data
                    this.reading_selected = data.reading_selected
                })
                .catch((error) => {
                    console.log('loadReadings failed:' + error);
                })
        },
        findSimilarWords() {
            if (!this.is_joyo && this.word.length > 0) {
                const params = [
                    `ex_id=${example_id}`,
                    `word=${this.word}`,
                ].join('&')
                axios.get(`/ajax/get_similar_word?${params}`)
                    .then(({ data }) => {
                        this.info_similar_word = data.info_similar_word
                    })
                    .catch((error) => {
                        this.$toast.open({
                            message: `類義語検索失敗`,
                            type: 'is-danger'
                        })
                    })
            } else {
                this.info_similar_word = ''
            }
        },
        onChangeWord() {
            this.loadReadings()
            this.findSimilarWords()
        },
        onGuessReadings() {
            const params = [
                `ex_id=${example_id}`,
                `word=${this.word}`,
                `yomi=${this.yomi}`
            ].join('&')
            axios.get(`/ajax/set_yomi/?${params}`)
                .then(({ data }) => {
                    if (data.candidate) {
                        this.reading_selected = data.candidate
                    } else {
                        this.$toast.open({
                            message: `読み方の自動設定失敗`,
                            type: 'is-warning'
                        })
                    }
                })
                .catch((error) => {
                        this.$toast.open({
                            message: `読み方の自動設定失敗`,
                            type: 'is-danger'
                        })
                })
        },
        getDefinition(link='') {
            this.showCandidateDefinition=false
            const params = [
                `word=${this.word}`,
                `word_native=${this.word_native}`,
                `link=${link}`
            ].join('&')
            axios.get(`/ajax/get_goo/?${params}`)
                .then(({ data }) => {
                    if (data.definition) {
                        this.definition = data.definition
                        this.candidates = data.definition
                        if (this.yomi=='') {
                            this.yomi = data.reading
                        }
                    } else if (data.candidates) {
                        this.candidates = data.candidates
                        this.showCandidateDefinition=true
                    } else {
                        this.$toast.open({
                            message: `定義獲得失敗`,
                            type: 'is-warning'
                        })
                    }
                })
                .catch((error) => {
                        this.$toast.open({
                            message: `定義獲得失敗`,
                            type: 'is-danger'
                        })
                })
        },
    },
    mounted() {
       this.loadReadings()
    }
{% endblock vue_data %}

