{% extends 'kukan/base_ext.html' %}

{% block title %}
{{ example.word }}
{% endblock %}

{% block content %}
    <div class="columns is-mobile">
        <div class="column">
            <h1 class="title">{{ example.word }}</h1>({{ example.yomi }})
        </div>
        <div class="column is-narrow">
            <a class="button is-link" href="{% url 'kukan:example_update' example.id %}">編集</a>
        </div>
    </div>
    <div class="columns">
        <div class="column is-three-fifths">
            <div class="content">
                <h2>意味</h2></div>
            <div class="content">{{ example.get_definition_html|safe  }}</div>
            {{ example.goo_link_exact|safe}}
        </div>
        <div class="column">
            <div class="content"><h2>情報</h2></div>
            <ul>
                <li><strong>漢検：</strong>{{example.kanken}}</li>
                <li><strong>例文：</strong>{{example.sentence}}</li>
                <li><strong>作成：</strong>{{example.created_time}}</li>
                <li><strong>更新：</strong>{{example.updated_time}}</li>
            </ul>
            <div>
                <table class="table is-striped">
                    <thead>
                        <tr>
                            <th>
                                漢字
                            </th>
                            <th>
                                読み
                            </th>
                            <th>
                                級
                            </th>
                            <th>
                                常用読み
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for map in example.exmap_set.all %}
                        <tr>
                            <td>
                                <a href="{% url 'kukan:kanji_detail' map.kanji.kanji %}">{{ map.kanji }}</a>
                            </td>
                            <td>
                                {% if map.is_ateji %}
                                    {{ map.ateji_option_disp }}
                                {% else %}
                                    {{ map.reading.reading }}
                                {% endif %}
                            </td>
                            <td>
                                {{ map.kanji.kanken.kyu }}
                            </td>
                            <td>
                                {% if map.reading.is_joyo %}
                                    <b-icon icon="check" size="is-small"></b-icon>
                                {% endif %}
                                {% if map.in_joyo_list %}
                                    (例)
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
{% endblock %}