{% extends 'kukan/base_ext.html' %}
{% load ja_tags %}

{% block title %}
例文の訂正
{% endblock %}

{% block banner %}
    <section class="hero is-link is-hidden-mobile">
      <div class="hero-body">
        <div class="container">
          <h2 class="title">
            例文の訂正
          </h2>
        </div>
      </div>
    </section>

<div class="container">
  <div class="notification is-primary is-hidden-tablet">
    <strong>例文の訂正</strong>
  </div>
</div>
{% endblock %}

{% block content %}

    <b-modal :active.sync="showCandidateDefinition" :width="500">
        <div class="box">
            <div class="columns">
                <div class="column is-narrow">
                    <div class="content"><strong>候補選択</strong></div>
                </div>
                <div class="column">
                    <div class="columns" v-for="item in candidates">
                        <div class="column">
                            <nav class="level">
                                <div class="level-item">
                                    <button class="button is-info"
                                            @click="getDefinition(item.link)">
                                        [[item.word]]
                                    </button>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </b-modal>

<form action="." method="post">
{% csrf_token %}
    <nav class="level is-mobile">
        <div class="level-left">
            <div class="level-item">
                <input type="submit" class="button is-link" value="保存" />
            </div>
        </div>
        <div class="level-right">
            <div class="buttons">
                    <button type="button" class="button is-info"
                            @click="getDefinition('')" :disabled="word==''">意味</button>
                    <button type="button" class="button is-info"
                            @click="onGuessReadings" :disabled="yomi==''">読み</button>
                    <button type="button" class="button is-info is-rounded" :class="{'is-inverted':!showOptDisp}"
                       @click="btnShowOptDisp = !showOptDisp" :disabled="hasOptInput">
                        <b-icon :icon="!showOptDisp?'message-bulleted-off':'message-bulleted'"></b-icon>
                        </button>
            </div>
        </div>
    </nav>

{% if form.errors %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
    <div class="columns">
        <div class="column">
                {% render_single_field form.word True %}
        </div>
        <div class="column">
            {% render_single_field form.yomi True %}
        </div>
    </div>

    <div v-show="showOptDisp">
        <div class="columns" v-show="showOptDisp">
            <div class="column">
                    {% render_single_field form.word_native True %}
            </div>
            <div class="column">
                {% render_single_field form.yomi_native True %}
            </div>
        </div>
        {% render_single_field form.word_variation True %}
    </div>

    <div class="columns is-multiline is-centered">
        <div v-for="(kj, dummy, idx) in reading_data" class="column">
            <div class="columns is-mobile">
                <div class="column is-narrow">
                    <p class="is-size-1">[[ kj.kanji ]]</p>
                </div>
                <div class="column" style="min-width: 180px;">
                    <div class="field">
                        <label class="label help">[[kj.kyu]], 例:[[kj.example_num]]</label>
                        <div class="control is-expanded">

                            <div v-if="kj.joyo" class="">
                                <input readonly="readonly" class="input is-static" type="text"
                                    v-model="kj.selected">
                            </div>
                            <div v-else class="select is-fullwidth">
                                <b-select required placeholder="未設定" expanded v-model="reading_selected[idx]" name="reading_selected">
                                    <option
                                        v-for="rd in kj.readings"
                                        :value="rd.key"
                                        :key="rd.key">
                                        [[ rd.read ]]
                                    </option>
                                </b-select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<input readonly="readonly" class="input is-static" type="text" v-model="reading_selected">-->
    <input readonly="readonly" name="reading_selected" class="input is-static" type="hidden" v-model="reading_selected">
    <template v-if="ex_kind!='KOTOWAZA'">
        {% render_single_field form.sentence %}
        <div class="buttons is-centered">
            <span class="button is-small is-info" @click="insertFurigana"><b-icon icon="code-brackets"></b-icon>　振り仮名</span>
        </div>
    </template><template v-else>
        {% render_single_field form.kotowaza %}
    </template>

    {% render_single_field form.definition %}
    <div class="buttons is-centered">
        <span class="button is-small is-info" @click="insertBreak"><b-icon icon="format-page-break"></b-icon>　分離線</span>
        <span class="button is-small is-info" @click="insertElem"><b-icon icon="code-brackets"></b-icon>　項目</span>
        <span class="button is-small is-info" @click="insertExampleMeaning"><b-icon icon="information-variant"></b-icon>　例文の意味</span>
    </div>
    {% render_single_field form.ex_kind %}
    <button type="button" class="button is-danger" @click="deleteConfirm('')" :disabled="is_joyo">例文削除</button>
</form>
{% endblock %}

{% block extra_script %}
<script>
    const example_id = '{{example.id|default_if_none:'None'}}'
</script>
{% endblock %}

{% block vue_data %}
    data() {
        return {
            showNavBar: false,
            showCandidateDefinition:false,
            {% add_vuejs_field_properties form %}
            info_similar_word: [],
            is_joyo: {{ example.is_joyo|yesno:"true,false" }},
            reading_data: [],
            candidates: '',
            btnShowOptDisp: false,
        }
    },
    computed: {
        hasOptInput: function() {
            return this.word_native != "" || this.yomi_native != "" || this.word_variation != ""
        },
        showOptDisp: function() {
            return this.btnShowOptDisp || this.hasOptInput
        }
    },
    methods: {
        loadReadings() {
            const params = [
                `ex_id=${example_id}`,
                `word=${this.word}`,
                `word_native=${this.word_native}`,
                `reading_selected=${this.reading_selected}`,
            ].join('&')
            axios.get(`/ajax/get_yomi/?${params}`)
                .then(({ data }) => {
                    this.reading_data = data.reading_data
                    this.reading_selected = data.reading_selected
                })
                .catch((error) => {
                    console.log('loadReadings failed:' + error);
                })
        },
        findSimilarWords() {
            if (!this.is_joyo && this.word.length > 0) {
                const params = [
                    `ex_id=${example_id}`,
                    `word=${this.word}`,
                ].join('&')
                axios.get(`/ajax/get_similar_word?${params}`)
                    .then(({ data }) => {
                        this.info_similar_word = data.info_similar_word
                        this.word_notifications = data.word_notifications
                    })
                    .catch((error) => {
                        this.$toast.open({
                            message: `類義語検索失敗`,
                            type: 'is-danger'
                        })
                    })
            } else {
                this.info_similar_word = ''
            }
        },
        onChangeWord() {
            this.loadReadings()
            this.findSimilarWords()
        },
        onGuessReadings() {
            const params = [
                `ex_id=${example_id}`,
                `word=${this.word}`,
                `word_native=${this.word_native}`,
                `yomi=${this.yomi}`
            ].join('&')
            axios.get(`/ajax/set_yomi/?${params}`)
                .then(({ data }) => {
                    if (data.candidate) {
                        this.reading_selected = data.candidate
                    } else {
                        this.$toast.open({
                            message: `読み方の自動設定失敗`,
                            type: 'is-warning'
                        })
                    }
                })
                .catch((error) => {
                        this.$toast.open({
                            message: `読み方の自動設定失敗`,
                            type: 'is-danger'
                        })
                })
        },
        getDefinition(link='') {
            this.showCandidateDefinition=false
            const params = [
                `word=${this.word}`,
                `word_native=${this.word_native}`,
                `link=${link}`
            ].join('&')
            axios.get(`/ajax/get_goo/?${params}`)
                .then(({ data }) => {
                    if (data.definition) {
                        this.definition = data.definition
                        this.candidates = data.definition
                        if (this.yomi=='') {
                            this.yomi = data.reading
                        }
                    } else if (data.candidates) {
                        this.candidates = data.candidates
                        this.showCandidateDefinition=true
                    } else {
                        this.$toast.open({
                            message: `定義獲得失敗`,
                            type: 'is-warning'
                        })
                    }
                })
                .catch((error) => {
                        this.$toast.open({
                            message: `定義獲得失敗`,
                            type: 'is-danger'
                        })
                })
        },
        deleteConfirm: function () {
            this.$dialog.confirm({
                title: '例文削除',
                message: '例文を本当に削除しますか。',
                cancelText: '取消',
                confirmText: '削除',
                type: 'is-danger',
                hasIcon: true,
                onConfirm: () => this.post(`/example/delete/` + {{form.instance.pk}} + '/', {csrfmiddlewaretoken: '{{ csrf_token }}'})
            })
        },
        deleteExample: function() {
            var form = document.createElement("form");
            form.setAttribute("method", 'post');
            form.setAttribute("csrfmiddlewaretoken", '{{ csrf_token }}');
            form.setAttribute("action", `/example/delete/` + {{form.instance.pk}} + '/');
            document.body.appendChild(form);
            form.submit();
        },
        post: function(path, params, method) {
            method = method || "post"; // Set method to post by default if not specified.

            // The rest of this code assumes you are not using a library.
            // It can be made less wordy if you use one.
            var form = document.createElement("form");
            form.setAttribute("method", method);
            form.setAttribute("action", path);

            for(var key in params) {
                if(params.hasOwnProperty(key)) {
                    var hiddenField = document.createElement("input");
                    hiddenField.setAttribute("type", "hidden");
                    hiddenField.setAttribute("name", key);
                    hiddenField.setAttribute("value", params[key]);

                    form.appendChild(hiddenField);
                }
            }

            document.body.appendChild(form);
            form.submit();
        },
        insertBreak: function() {
            this.insertText('id_definition', '\n----\n\n')
        },
        insertElem: function() {
            this.insertText('id_definition', '**【】**')
        },
        insertExampleMeaning: function() {
            this.insertText('id_definition', '\n----\n\n**' + this.sentence + '**\n\n')
        },
        insertFurigana: function() {
            var elem_id = 'id_sentence'
            var e = document.getElementById(elem_id);
            var l = e.selectionEnd - e.selectionStart;

            const params = [
                `word=${e.value.substr(e.selectionStart, l)}`,
                `format=bracket`,
            ].join('&')
            axios.get(`/ajax/get_furigana/?${params}`)
                .then(({ data }) => {
                    if (data.furigana) {
                        this.insertText(elem_id, data.furigana)
                    } else {
                        this.$toast.open({
                            message: `振り仮名推測失敗`,
                            type: 'is-warning'
                        })
                    }
                })
                .catch((error) => {
                        this.$toast.open({
                            message: `振り仮名推測失敗`,
                            type: 'is-danger'
                        })
                })
        },
        insertText: function(elem_id, value) {
            var textArea = document.getElementById(elem_id);
            var startPos = textArea.selectionStart,
                // get cursor's position:
                endPos = textArea.selectionEnd,
                cursorPos = startPos,
                tmpStr = textArea.value;

            if (value === null) {
                return;
            }

            // insert:
            textArea.value = tmpStr.substring(0, startPos) + value + tmpStr.substring(endPos, tmpStr.length);

            // move cursor:
            setTimeout(() => {
                cursorPos += value.length;
                textArea.selectionStart = textArea.selectionEnd = cursorPos;
            }, 10);
        },
    },
    mounted() {
       this.loadReadings()
    }
{% endblock vue_data %}

