{% extends 'kukan/base_ext.html' %}

{% load staticfiles %}
{% block title %}
「{{ kanji.kanji }}」の詳細
{% endblock %}

{% block content %}
    <div class="columns">
        <div class="column is-one-third is-centered" style="text-align: center;">
            <fr-kanji-box></fr-kanji-box>
        </div>
        <div class="column">
            <table class="table is-fullwidth">
                <thead><th>読み</th><th>例</th></thead>
                {% for reading in kanji.reading_set.all %}
                    <tr>
                        <td style="white-space: nowrap;">{{reading.get_full|safe}}</td>
                        <td>{{reading.get_list_ex2|safe}}</td>
                    </tr>
                {% endfor %}
                {% for exmap in kanji.exmap_set.all %}
                    {% if not exmap.reading %}
                    <tr>
                        <td colspan="2"><a href="{% url 'kukan:example_detail' exmap.example.pk %}">{{exmap.example}}</a></td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="columns">

        <div class="column">
            <div>
                <table class="table is-fullwidth">
                    <thead><th>意味</th></thead>
                    <tbody>
                        {% for value in kanji.kanjidetails.meaning_list %}
                            <td>{{value}}</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<template>
    <b-tabs type="is-boxed" animated="true">
        <b-tab-item v-for="c in ctx">
            <template slot="header">
                <span> [[c.name]] <b-tag rounded> [[ c.number ]] </b-tag> </span>
            </template>
            <template>
                <b-table :data="c.table_data.data" striped narrowed
                         :paginated="c.number > 5" :per-page="5"
                         v-if="c.table_data.data.length>0">
                    <template slot-scope="props">
                            <b-table-column v-for="(column, index) in c.table_data.columns"
                                :key="index"
                                :field="column.field"
                                :label="column.label"
                                :visible="column.visible">
                                    <slot :name="column.label" v-bind="{'column': column, 'props': props}">
                                        <b-icon icon="check" v-if="column.type == 'bool' && props.row[column.field]==true"></b-icon>
                                        <span v-if="column.type != 'bool'" v-html="props.row[column.field]"></span>
                                    </slot>
                            </b-table-column>
                    </template>
                </b-table>
            </template>
        </b-tab-item>
    </b-tabs>
</template>
{% endblock %}

{% block vue_component %}
{% include 'vue/kanji_box.html' %}
{% endblock %}

{% block vue_data %}
    data() {
        return {
            ctx: {{ctx|safe}}
        }
    },
{% endblock vue_data %}