{% extends 'kukan/base_ext.html' %}
{% load my_tags %}

{% load staticfiles %}
{% block title %}
「{{ kanji.kanji }}」の詳細
{% endblock %}

{% block content %}
  <div class="title kanji">{{ kanji.kanji }}</div>
  <div>
    <table class="table">
        <thead>
            <th>
                読み
            </th>
            <th>
                例
            </th>
        </thead>
    {% for reading in kanji.reading_set.all %}
        <tr>
            <td>
                {{reading.get_full|safe}}
            </td>
            <td>
            {{reading.get_list_ex2|safe}}
            </td>
        </tr>
    {% endfor %}
    {% for exmap in kanji.exmap_set.all %}
      {% if not exmap.reading %}
        <tr>
            <td>
                <a href="{% url 'kukan:example_detail' exmap.example.pk %}">{{exmap.example}}</a>
            </td>
            <td>

            </td>
        </tr>
      {% endif %}
    {% endfor %}
    </table>
  </div>
<br>

<div>
      <table class="table">
          <thead>
            <th>
                属性
            </th>
            <th>
                値
            </th>
        </thead>
          <tbody>
          {% for fldname, name, value in kanji.basic_info %}
          <tr>
              <th>
                  {{name}}
              </th>
              <td>
                  {{value}}
              </td>
          </tr>
          {% endfor %}
          </tbody>
      </table>
      <br>
</div>

<br>
<table class="table">
{{kanji.anki_Examples|safe}}
</table>
<br>

{% endblock %}