{% extends 'kukan/base_ext.html' %}

{% block content %}
    <fr-filtered-table></fr-filtered-table>
{% endblock %}




{% block vue_data %}

{% endblock vue_data%}































{% block vue_component %}
<script>
Vue.use(Buefy.default)

Vue.mixin({ delimiters: ['[[',']]'] });

const vModelComputed = {
  get() {
    return this.value;
  },
  set(newValue) {
    this.$emit('input', newValue);
  }
};
</script>


<script type="text/x-template" id="trigger-button">
    <div class="buttons has-addons">
        <span class="button is-selected" v-bind:class="{'is-primary':state}">[[cur_title]]</span>
        <span class="button" v-bind:class="{'is-primary':state}" @click.stop="rm_fil">
            <b-icon icon="close" size="is-small"></b-icon>
        </span>
    </div>
</script>
<script>
var Trigger = {
    props: ['title', 'current', 'state'],
    computed: {
        cur_title: function () {
            res = ""
            if (this.current=='') {
                res = this.title
            } else {
                res = this.current
            }
            return res
        }
      },
    methods: {
        rm_fil: function () {
            console.log("remove_filter: remove filter")
            this.$emit('rm_fil')
        }
    },
    template: '#trigger-button'
}
</script>


<script type="text/x-template" id="drop-down-top">
    <b-dropdown-item custom>
        <nav class="level is-mobile">
            <!-- Left side -->
            <div class="level-left">
                <p class="level-item"><strong>[[title]]</strong></p>
            </div>
            <!-- Right side -->
            <div class="level-right">
                <a class="button is-primary" @click="handleApply">適用</a>
            </div>
        </nav>
    </b-dropdown-item>
</script>
<script>
var DropDownTop = {
        data() {
            return {
                _isDropdown: true // Used internally by DropdownItem
            }
        },
    props: ['title'],
    methods: {
        handleApply: function () {
            console.log("APPLY !!"  + this)
            this.$parent.selectItem(this)
            this.$emit('apply')
        }
    },
    template: '#drop-down-top'
}
</script>


<script type="text/x-template" id="drop-down-min-max">
    <b-dropdown-item custom><b-field>
        <b-input :placeholder="placeholder"
                    type="number"
                    :min="min"
                    :max="max"
                    v-model="localValue">
        </b-input>
        <p class="control">
            <a class="button is-static">
                [[label]]
            </a>
        </p>
    </b-field></b-dropdown-item>
</script>
<script>
var Kakusu = {
    data: function () {
        return {
            _isDropdown: true, // Used internally by DropdownItem
        }
    },
    props: ['value', 'label', 'placeholder', 'min', 'max'],
    computed: {
        localValue: vModelComputed
      },
    template: '#drop-down-min-max',
}
</script>


<script type="text/x-template" id="fr-filter-template">
    <div>
        <b-dropdown>
            <fr-trigger slot="trigger" :title="title" :current="current_filter"
                        :state="is_active" @rm_fil="$emit('rm_fil')"></fr-trigger>
            <drop-down-top :title="title" v-on:apply="handleApply"></drop-down-top>
            <slot></slot>
        </b-dropdown>
    </div>
</script>
<script>
Vue.component('fr-filter', {
    data: function () {
        return {
        }
    },
    components: {
        'fr-trigger': Trigger,
        'drop-down-top': DropDownTop,
    },
    computed: {
        is_active: function () {return (this.current_filter!='')}
      },
    props: ['title', 'current_filter'],
    methods: {
        handleApply: function (filter_val) {
            console.log("fr-filter: apply !! - " + this.current_filter)
            this.$emit('apply')
        },
    },
    template: '#fr-filter-template'
})
</script>

<script>
var MixinFrBase = {
    data: function () {
        return {
            filter: ""
        }
    },
    props: ['title', 'value'],
    created() {
        this.tempFilter = this.value
        this.filter = this.tempFilter
        console.log("MixinFrBase - created:" + this.tempFilter + '/' + this.filter + '//' + this.value)
    },
    methods: {
        handleApply: function (filter_val) {
            console.log("MixinFrBase: APPLY -FINAL !!" + this.filter)
            this.filter=this.tempFilter
            this.$emit('input', this.filter)
        },
    },
}
</script>


<script type="text/x-template" id="fr-filter-string-template">
    <fr-filter v-on:apply="handleApply" @rm_fil="$emit('rm_fil')" :title="title" :current_filter="filter">
        <b-dropdown-item custom><b-field>
            <b-input :placeholder="placeholder"
                        v-model="localValue">
            </b-input>
        </b-field></b-dropdown-item>
    </fr-filter>
</script>
<script>
Vue.component('fr-filter-string', {
    mixins: [MixinFrBase],
    template: '#fr-filter-string-template',
    props: ['placeholder'],
    data: function () {
        return {
            localValue: ""
        }
    },
    computed: {
        tempFilter: {
            get: function () {
                return this.localValue
            },
            set: function (newVal) {
                this.localValue = newVal
            }
        }
    },
})

</script>

<script type="text/x-template" id="fr-filter-min-max-template">
    <fr-filter v-on:apply="handleApply" @rm_fil="$emit('rm_fil')" :title="title" :current_filter="buttonTitle">
                    <fr-kakusu label="画以上" :placeholder="title" v-model="strokes.min"></fr-kakusu>
                    <fr-kakusu label="画以下" :placeholder="title" v-model="strokes.max"></fr-kakusu>
    </fr-filter>
</script>
<script>
function convPosInt(str) {
    strInt = parseInt(str, 10)
    console.log("convPosInt" + str + '/' + strInt + '/' + (str === strInt) + '/' + (strInt >= 0))
    res = ''
    if (str == strInt && strInt >= 0) {
        res = strInt
    }
    return res
}

Vue.component('fr-filter-min-max', {
    mixins: [MixinFrBase],
    template: '#fr-filter-min-max-template',
    components: {
        'fr-kakusu': Kakusu,
    },

    data: function () {
        return {
            strokes: {
                min: null,
                max: null,
            }
        }
    },

    computed: {
        buttonTitle: function () {
            res=''
            if (this.filter!='') {
                res=this.title + ': ' + this.filter
            }
            return res
        },
        tempFilter: {
            get: function () {
                res = ''
                if (this.strokes.min != null || this.strokes.max != null) {
                    res = this.strokes.min  + '~' + this.strokes.max
                }
                return res
            },
            set: function (newVal) {
                val = newVal.split('~')
                this.strokes.min = convPosInt(val[0], 10)
                this.strokes.max = convPosInt(val[1], 10)
            }
        }
    },
})

</script>


<script type="text/x-template" id="fr-filter-checkbox-template">

    <fr-filter v-on:apply="handleApply" @rm_fil="$emit('rm_fil')" :title="title" :current_filter="filter">
        <b-dropdown-item custom>
            <div v-for="(elem, index) in elements" class="field">
                <b-checkbox v-model="checkboxGroup" :native-value=index>[[elem.label]]</b-checkbox>
            </div>
        </b-dropdown-item custom>
    </fr-filter>
</script>
<script>
Vue.component('fr-filter-checkbox', {
    mixins: [MixinFrBase],
    template: '#fr-filter-checkbox-template',
    props: ['elements'],

    data: function () {
        return {
            checkboxGroup: ""
        }
    },

    computed: {
        tempFilter: {
            get: function () {
                res = ""
                if (this.checkboxGroup.length>0) {
                    lst_label = []
                    for (var i = 0, len = this.checkboxGroup.length; i < len; i++) {
                        lst_label.push(this.elements[this.checkboxGroup[i]].label)
                        res = lst_label.join(", ")
                    }
                }
                console.log("tempFilter GET = " + res)
                return res
            },
            set: function (newVal) {
                var res = []
                val = this.value.split(', ')
                for (var i = 0, len = this.elements.length; i < len; i++) {
                    if (val.indexOf(this.elements[i].label) > -1 ) {
                        res.push(i)
                    }
                }
                console.log("INIT fr-filter-checkbox = " + res + "--" + this.value)
                this.checkboxGroup = res
            }
        },
    },
})

</script>

<script>
var MixinFrComp = {
    data: function () {
        return {
            compValue: this.value
        }
    },
    props: ['title', 'idx', 'value'],
    methods: {
        rm_fil: function () {
            console.log('removed filter - from mixin ' + this.idx + '/')
            this.$emit('rm_fil', this.idx)
        }
    },
    watch: {
        'compValue': function(val, oldVal){
            this.$emit('input', this.compValue)
        }
    }
}

var FrCompKakausu = {
    mixins: [MixinFrComp],
    template: '<fr-filter-min-max :title="title" v-model="compValue" @rm_fil="rm_fil"></fr-filter-min-max>'
}

var FrCompKanjis = {
    mixins: [MixinFrComp],
    template: '<fr-filter-string :title="title" v-model="compValue" @rm_fil="rm_fil" placeholder="漢字を入力下さい"></fr-filter-string>'
}

var FrCompKanken = {
    data: function () {
        return {
            elements: [
                {'native':'1kyu', 'label': '１級'},
                {'native':'jun1kyu', 'label': '準１級'},
                {'native':'2kyu', 'label': '２級'},
                {'native':'jun2kyu', 'label': '準２級'},
                {'native':'3kyu', 'label': '３級'},
                {'native':'4kyu', 'label': '４級'},
                {'native':'5kyu', 'label': '５級'},
                {'native':'6kyu', 'label': '６級'},
                {'native':'7kyu', 'label': '７級'},
                {'native':'8kyu', 'label': '８級'},
                {'native':'9kyu', 'label': '９級'},
                {'native':'10kyu', 'label': '１０級'},

            ],
        }
    },
    mixins: [MixinFrComp],
    template: '<fr-filter-checkbox :title="title" v-model="compValue" @rm_fil="rm_fil" :elements="elements"></fr-filter-checkbox>'
}

var FrCompType = {
    data: function () {
        return {
            elements: [
                {'native':'joyo', 'label': '常用漢字'},
                {'native':'jinmei', 'label': '人名漢字'},
                {'native':'other', 'label': '常用・人名以外'},
            ],
        }
    },
    mixins: [MixinFrComp],
    template: '<fr-filter-checkbox :title="title" v-model="compValue" @rm_fil="rm_fil" :elements="elements"></fr-filter-checkbox>'
}
</script>

<script type="text/x-template" id="fr-add-filter">
    <div>
        <b-dropdown>
            <span slot="trigger" class="button is-selected is-primary is-outlined">
                [[title_btn]]<b-icon icon="plus-circle-outline" size="is-small"></b-icon>
            </span>
            <drop-down-top :title="title" @apply="handleApply"></drop-down-top>
            <b-dropdown-item custom>
                <div v-for="(elem, index) in elements" class="field">
                    <b-checkbox v-model="checkboxGroup" :native-value=elem.native>[[elem.label]]</b-checkbox>
                </div>
            </b-dropdown-item custom>
        </b-dropdown>
    </div>
</script>
<script>
var FrCompAddFilter = {
    data: function () {
        return {
            checkboxGroup: [],
            title: "ﾌｨﾙﾀｰ追加"
        }
    },
    components: {
        'drop-down-top': DropDownTop,
    },
    computed: {
        title_btn: function () {
            res = ""
            if (this.activenb == 0) {
                res = this.title + "　"
            }
            return res
        }
    },
    methods: {
        handleApply: function (filter_val) {
            console.log("FrCompAddFilter: APPLY -FINAL !!" + this.checkboxGroup)
            this.$emit('add_fil', this.checkboxGroup)
            this.checkboxGroup = []
        }
    },
    props: ['elements', 'activenb'],
    template: '#fr-add-filter'
}
</script>


<script type="text/x-template" id="filter-container">
    <div class="container">
        <div class="columns is-multiline is-mobile is-variable is-1">
            <div v-for="filter_idx in active_filters" class="column is-narrow">
                <component :is="filter_list[filter_idx].name"
                            :title="filter_list[filter_idx].label"
                            :idx='filter_idx'
                            @rm_fil="rm_fil"
                            v-model='filter_list[filter_idx].value'>
                </component>
<!--[[filter_list[filter_idx].value]]-->
            </div>
            <div class="column is-narrow" v-if="inactive_filters.length>0">
                <fr-filter-add :elements="inactive_filters" :activenb="active_filters.length"
                        @add_fil="add_fil"></fr-filter-add>
            </div>
        </div>
<!--[[url_filter]]-->
    </div>
</script>
<script>
Vue.component('fr-filter-container', {
    data: function () {
        return {
            filter_list: [ {'name':'fr-comp-kakusu', 'label':'画数',   'value':'10~20'},
                           {'name':'fr-comp-kakusu', 'label':'文例数', 'value':'0~0'},
                           {'name':'fr-comp-type',   'label':'種類',   'value':'常用漢字'},
                           {'name':'fr-comp-kanken', 'label':'漢検',   'value':'２級'},
                           {'name':'fr-comp-kanjis', 'label':'漢字',   'value':'部首'} ],
            active_filters: [1,3],
        }
    },
    components: {
        'fr-comp-kakusu': FrCompKakausu,
        'fr-comp-kanken': FrCompKanken,
        'fr-comp-type': FrCompType,
        'fr-comp-kanjis': FrCompKanjis,

        'fr-filter-add': FrCompAddFilter
    },
    computed: {
        inactive_filters: function () {
            res = []
            af = this.active_filters
            console.log('Active_filters fct:' + this.active_filters+ '<' + af.indexOf(2) + '>')
            for (var i = 0, len = this.filter_list.length; i < len; i++) {
                console.log('Check IDX:' + i+ '<' + af.indexOf(i) + '>')
                if (this.active_filters.indexOf(i) < 0) {
                    console.log('Addition:' + i)
                    res.push({'native':i, 'label': this.filter_list[i].label},)
                }
            }
            console.log('inactive_filters / elements list:' + res)
            return res
        },
        url_filter: {
            get: function () {
                res = []
                for (var i = 0, len = this.filter_list.length; i < len; i++) {
                    if (this.active_filters.indexOf(i) >= 0) {
                        if (this.filter_list[i].value) {
                            console.log('Addition:' + i)
                            res.push(this.filter_list[i].label + '=' + this.filter_list[i].value)
                        }
                    }
                }
                return res.join("&")
            },
            set: function () {
            },
        }
    },
    methods: {
        add_fil: function (idx) {
            for (var i = 0; i < idx.length; i++) {
                this.active_filters.push(idx[i])
            }
            console.log('active_filters ' + this.active_filters)
        },
        rm_fil: function (idx) {
            console.log('FINAL- Remove filter ' + idx)
            var index = this.active_filters.indexOf(idx);
            if (index > -1) {
                this.filter_list[idx].value = ""
                this.active_filters.splice(index, 1);
            }
        },
    },
    watch: {
        'url_filter': function(val, oldVal){
            this.$emit('input', this.url_filter)
            console.log('FINAL- change filter ' + this.url_filter)
        }
    },
    template: '#filter-container'
})
</script>

<script type="text/x-template" id="filtered-table">
    <div>
        <fr-filter-container @input="onFilterChange"></fr-filter-container>
        <br>
        <b-table
            :data="isEmpty ? [] : data"
            :striped="isStriped"
            :narrowed="isNarrowed"
            :loading="isLoading"
            :mobile-cards="hasMobileCards"

            paginated
            backend-pagination
            :total="total"
            :per-page="perPage"
            @page-change="onPageChange"

            detailed

            backend-sorting
            :default-sort-direction="defaultSortOrder"
            :default-sort="[sortField, sortOrder]"
            @sort="onSort">

            <template slot-scope="props">
                <b-table-column v-for="(column, index) in columnsTemplate"
                    :key="index"
                    :field="column.field"
                    :label="column.title"
                    :visible="column.visible"
                    sortable>
                    <span v-if="column.field == 'kanji'">
                        <a :href="'/kukan/kanji/' + props.row[column.field]">[[ props.row[column.field] ]]</a>
                    </span>
                    <span v-else>
                        [[ props.row[column.field] ]]
                    </span>
                </b-table-column>
            </template>

            <template slot="detail" slot-scope="props">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p>
                                [[ props.row.kanji ]]
                            </p>
                        </div>
                    </div>
                </article>
            </template>

            <template slot="empty">
                <section class="section">
                    <div class="content has-text-grey has-text-centered">
                        <p>
                            <b-icon
                                icon="emoticon-sad"
                                size="is-large">
                            </b-icon>
                        </p>
                        <p>結果ありません</p>
                    </div>
                </section>
            </template>

        </b-table>
    </div>
</script>
<script>
Vue.component('fr-filtered-table', {
    data() {
        return {
            containerSize: "is-fluid",
            activeTab: 1,
            searchItem: '漢字',
            isSwitched: true,
            isSwitchedCustom: 'CUSTOM_stuff',
            data: [],
            isEmpty: false,
            isBordered: false,
            isStriped: true,
            isNarrowed: true,
            isLoading: false,
            hasMobileCards: false,

            columnsTemplate: [],

            total: 0,
            sortField: 'kanji',
            sortOrder: 'asc',
            defaultSortOrder: 'desc',
            page: 1,
            perPage: 20,
            filter:'文例数=0~0&漢検=２級 '
        }
    },
    methods: {
        /*
         * Load async data
         */
        loadAsyncData() {
            sortDir = this.sortOrder == 'asc' ? '' : '-'
            const params = [
                `sort_by=${sortDir}${this.sortField}`,
                `page=${this.page}`,
                `${this.filter}`
            ].join('&')

            this.isLoading = true
            axios.get(`/kukan/ajax/get_kanji_list?${params}`)
                .then(({ data }) => {
                    // api.themoviedb.org manage max 1000 pages
                    this.data = []
                    this.total = data.total_results
                    data.results.forEach((item) => {
                        this.data.push(item)
                    })
                    this.columnsTemplate = data.columnsTemplate
                    this.isLoading = false
                })
                .catch((error) => {
                    this.data = []
                    this.total = 0
                    this.isLoading = false
                    throw error
                })
        },
        onFilterChange(filter) {
            this.filter = filter
            this.loadAsyncData()
        },
        /*
         * Handle page-change event
         */
        onPageChange(page) {
            this.page = page
            this.loadAsyncData()
        },
        /*
         * Handle sort event
         */
        onSort(field, order) {
            this.sortField = field
            this.sortOrder = order
            this.loadAsyncData()
        },
        /*
         * Type style in relation to the value
         */
        type(value) {
            const number = parseFloat(value)
            if (number < 6) {
                return 'is-danger'
            } else if (number >= 6 && number < 8) {
                return 'is-warning'
            } else if (number >= 8) {
                return 'is-primary'
            }
        }
    },
    filters: {
        /**
         * Filter to truncate string, accepts a length parameter
         */
        truncate(value, length) {
        return value.length > length
            ? value.substr(0, length) + '...'
            : value
                    }
    },
    mounted() {
        this.loadAsyncData()
    },
    template: '#filtered-table'
})


</script>

{% endblock %}