{% extends 'kukan/base_ext.html' %}

{% block content %}

    <section>
        <b-tabs v-model="activeTab">
            <b-tab-item label="表示設定">
                <b-field grouped group-multiline>
                    <div class="control">
                        <b-switch v-model="isBordered">Bordered</b-switch>
                    </div>
                    <div class="control">
                        <b-switch v-model="isStriped">Striped</b-switch>
                    </div>
                    <div class="control">
                        <b-switch v-model="isNarrowed">Narrowed</b-switch>
                    </div>
                    <div class="control">
                        <b-switch v-model="isHoverable">Hoverable</b-switch>
                    </div>
                    <div class="control">
                        <b-switch v-model="isFocusable">Focusable</b-switch>
                    </div>
                    <div class="control">
                        <b-switch v-model="isLoading">Loading state</b-switch>
                    </div>
                    <div class="control">
                        <b-switch v-model="isEmpty">Empty</b-switch>
                    </div>
                    <div class="control">
                        <b-switch v-model="hasMobileCards">Mobile cards <small>(collapsed rows)</small></b-switch>
                    </div>
                </b-field>
            </b-tab-item>

            <b-tab-item label="一覧">
                <b-table
                    :data="isEmpty ? [] : data"
                    :bordered="isBordered"
                    :striped="isStriped"
                    :narrowed="isNarrowed"
                    :hoverable="isHoverable"
                    :loading="isLoading"
                    :focusable="isFocusable"
                    :mobile-cards="hasMobileCards"
                    :loading="loading"

                    paginated
                    backend-pagination
                    :total="total"
                    :per-page="perPage"
                    @page-change="onPageChange"

                    detailed

                    backend-sorting
                    :default-sort-direction="defaultSortOrder"
                    :default-sort="[sortField, sortOrder]"
                    @sort="onSort">

                    <template slot-scope="props">
                        <b-table-column v-for="(column, index) in columnsTemplate"
                            :key="index"
                            :field="column.field"
                            :label="column.title"
                            :visible="column.visible"
                            sortable>
                            <span v-if="column.field == 'kanji'">
                                <a :href="'/kukan/kanji/' + props.row[column.field]">[[ props.row[column.field] ]]</a>
                            </span>
                            <span v-else>
                                [[ props.row[column.field] ]]
                            </span>
                        </b-table-column>
                    </template>

                    <template slot="detail" slot-scope="props">
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        [[ props.row.kanji ]]
                                    </p>
                                </div>
                            </div>
                        </article>
                    </template>

                    <template slot="empty">
                        <section class="section">
                            <div class="content has-text-grey has-text-centered">
                                <p>
                                    <b-icon
                                        icon="emoticon-sad"
                                        size="is-large">
                                    </b-icon>
                                </p>
                                <p>Nothing here.</p>
                            </div>
                        </section>
                    </template>

                </b-table>
            </b-tab-item>

            <b-tab-item label="Videos" >
                <div class="field">
                    <b-switch>Default</b-switch>
                </div>
                <div class="field">
                    <b-switch v-model="isSwitched">
                        [[ isSwitched ]]
                    </b-switch>
                </div>
                <div class="field">
                    <b-switch v-model="isSwitchedCustom"
                        true-value="Yes"
                        false-value="No">
                        [[ isSwitchedCustom ]]
                    </b-switch>
                </div>
                <div class="field">
                    <b-switch disabled>Disabled</b-switch>
                </div>
            </b-tab-item>
        </b-tabs>
    </section>



{% endblock %}

{% block vue_data %}
    data() {
        return {
            containerSize: "is-fluid",
            activeTab: 1,
            searchItem: '漢字',
            isSwitched: true,
            isSwitchedCustom: 'CUSTOM_stuff',
            data: [],
            isEmpty: false,
            isBordered: false,
            isStriped: false,
            isNarrowed: false,
            isHoverable: false,
            isFocusable: false,
            isLoading: false,
            hasMobileCards: true,

            columnsTemplate: [],

            total: 0,
            loading: false,
            sortField: 'kanji',
            sortOrder: 'asc',
            defaultSortOrder: 'desc',
            page: 1,
            perPage: 20
        }
    },
    methods: {
        /*
         * Load async data
         */
        loadAsyncData() {
            sortDir = this.sortOrder == 'asc' ? '' : '-'
            const params = [
                `sort_by=${sortDir}${this.sortField}`,
                `page=${this.page}`
            ].join('&')

            this.isLoading = true
            axios.get(`/kukan/ajax/get_kanji_list?${params}`)
            //axios.get(`https://api.themoviedb.org/3/discover/movie?${params}`)
                .then(({ data }) => {
                    // api.themoviedb.org manage max 1000 pages
                    this.data = []
                    this.total = data.total_results
                    data.results.forEach((item) => {
                        this.data.push(item)
                    })
                    this.columnsTemplate = data.columnsTemplate
                    this.isLoading = false
                })
                .catch((error) => {
                    this.data = []
                    this.total = 0
                    this.loading = false
                    throw error
                })
        },
        /*
         * Handle page-change event
         */
        onPageChange(page) {
            this.page = page
            this.loadAsyncData()
        },
        /*
         * Handle sort event
         */
        onSort(field, order) {
            this.sortField = field
            this.sortOrder = order
            this.loadAsyncData()
        },
        /*
         * Type style in relation to the value
         */
        type(value) {
            const number = parseFloat(value)
            if (number < 6) {
                return 'is-danger'
            } else if (number >= 6 && number < 8) {
                return 'is-warning'
            } else if (number >= 8) {
                return 'is-success'
            }
        }
    },
    filters: {
        /**
         * Filter to truncate string, accepts a length parameter
         */
        truncate(value, length) {
        return value.length > length
            ? value.substr(0, length) + '...'
            : value
                    }
    },
    mounted() {
        this.loadAsyncData()
    }
{% endblock vue_data%}

