{% extends 'kukan/base_ext.html' %}
{% load ja_tags %}

{% block title %}
{{ kotowaza.kotowaza }}
{% endblock %}

{% block content %}
    <div class="columns is-mobile">
        <div class="column">
            <h1 class="title is-4">{{ kotowaza.furigana|furigana_simple_to_html }}</h1>
        </div>
        <div class="column is-narrow">
            <a class="button is-link" href="{% url 'kukan:kotowaza_update' kotowaza.id %}">編集</a>
        </div>
    </div>
    <div class="columns is-variable is-8">
        <div class="column is-three-fifths">
            <div class="content">
                <h2 class="title is-5">意味</h2></div>
            <div class="content">{{ kotowaza.get_definition_html|safe  }}</div>
        </div>
        <div class="column">
            <div class="content"><h2 class="title is-5">例文の単語</h2></div>
            <ul>
                {% for ex in kotowaza.example_set.all %}
                    <li><a href="{% url 'kukan:example_detail' ex.id %}">{{ ex.word }}</a> - {{ ex.yomi }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}