{% extends 'kukan/base_ext.html' %}
{% load ja_tags %}

{% block title %}
例文の訂正
{% endblock %}

{% block banner %}
    <section class="hero is-link is-hidden-mobile">
      <div class="hero-body">
        <div class="container">
          <h2 class="title">
            諺の訂正
          </h2>
        </div>
      </div>
    </section>

<div class="container">
  <div class="notification is-primary is-hidden-tablet">
    <strong>諺の訂正</strong>
  </div>
</div>
{% endblock %}

{% block content %}

<form action="." method="post">
{% csrf_token %}
    <nav class="level is-mobile">
        <div class="level-left">
            <div class="level-item">
                <input type="submit" class="button is-link" value="保存" />
            </div>
        </div>
        <div class="level-right">
            <div class="buttons">
                <a class="button is-info" @click="getFurigana('')" :disabled="kotowaza==''">振り仮名</a>
            </div>
        </div>
    </nav>

{% if form.errors %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

{% render_single_field form.kotowaza %}
{% render_single_field form.yomi %}
{% render_single_field form.furigana %}
<b-notification v-if='furigana_errors.length > 0' type="is-warning">
    <div v-for="item in furigana_errors">[[ item ]]</div>
</b-notification>
{% render_single_field form.definition %}

</form>
{% endblock %}

{% block extra_script %}
<script>
    const example_id = '{{example.id|default_if_none:'None'}}'
</script>
{% endblock %}

{% block vue_data %}
    data() {
        return {
            showNavBar: false,
            kotowaza: '{{ form.kotowaza.value|default_if_none:'' }}',
            yomi: '{{ form.yomi.value|default_if_none:'' }}',
            furigana: '{{ form.furigana.value|default_if_none:'' }}',
            furigana_errors: [],
            definition: '{{ form.definition.value|default_if_none:''|escapejs }}',
        }
    },
    methods: {
        getFurigana(link='') {
            const params = [
                `word=${this.kotowaza}`,
                `yomi=${this.yomi}`,
            ].join('&')
            axios.get(`/ajax/get_furigana/?${params}`)
                .then(({ data }) => {
                    if (data.furigana) {
                        this.furigana = data.furigana
                        this.furigana_errors = data.furigana_errors
                    } else {
                        this.$toast.open({
                            message: `振り仮名推測失敗`,
                            type: 'is-warning'
                        })
                    }
                })
                .catch((error) => {
                        this.$toast.open({
                            message: `振り仮名推測失敗`,
                            type: 'is-danger'
                        })
                })
        },
    },
{% endblock vue_data %}

