{% extends 'base_ext.html' %}

{% block title %}
統計
{% endblock %}

{% block content %}
<table class="table is-striped is-narrow is-fullwidth">
    <thead>
        <tr>
            <th>項目</th>
            <th class="has-text-right">総合数</th>
            <th class="has-text-right">常用漢字表</th>
            <th class="has-text-right">表外</th>
        </tr>
    </thead>
    <tbody>
        {% for row in stats_data %}
        <tr>
            <td>{{ row.cat }}</td>
            <td class="has-text-right">{{ row.total }}</td>
            <td class="has-text-right">{{ row.joyo }}</td>
            <td class="has-text-right">{{ row.non_joyo }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
