{% include 'kukan/vue_filters_base.html' %}

<script>
var FrCompKakausu = {
    mixins: [MixinFrComp],
    template: '<fr-filter-min-max :title="title" v-model="compValue" @rm_fil="rm_fil"></fr-filter-min-max>'
}

var FrCompStringSimple = {
    mixins: [MixinFrComp],
    template: '<fr-filter-string :title="title" v-model="compValue" @rm_fil="rm_fil" :placeholder="placeholder"></fr-filter-string>',
    computed: {
        placeholder: function () {return (this.title + "を入力下さい")}
    }
}


var FrCompKanken = {
    data: function () {
        return {
            elements: [
                {'native':'1kyu', 'label': '１級', col:0},
                {'native':'jun1kyu', 'label': '準１級', col:1},
                {'native':'2kyu', 'label': '２級', col:0},
                {'native':'jun2kyu', 'label': '準２級', col:1},
                {'native':'3kyu', 'label': '３級', col:0},
                {'native':'4kyu', 'label': '４級', col:1},
                {'native':'5kyu', 'label': '５級', col:0},
                {'native':'6kyu', 'label': '６級', col:1},
                {'native':'7kyu', 'label': '７級', col:0},
                {'native':'8kyu', 'label': '８級', col:1},
                {'native':'9kyu', 'label': '９級', col:0},
                {'native':'10kyu', 'label': '１０級', col:1},

            ],
        }
    },
    mixins: [MixinFrComp],
    template: '<fr-filter-checkbox comptype="b-checkbox" :title="title" v-model="compValue" @rm_fil="rm_fil" :elements="elements"></fr-filter-checkbox>'
}

var FrCompType = {
    data: function () {
        return {
            elements: [
                {'native':'joyo', 'label': '常用漢字'},
                {'native':'jinmei', 'label': '人名用漢字'},
                {'native':'other', 'label': '常用・人名以外'},
            ],
        }
    },
    mixins: [MixinFrComp],
    template: '<fr-filter-checkbox comptype="b-checkbox" :title="title" v-model="compValue" @rm_fil="rm_fil" :elements="elements"></fr-filter-checkbox>'
}

var FrCompHas = {
    data: function () {
        return {
            elements: [
                {'native':'ari', 'label': '例文有り'},
                {'native':'nashi', 'label': '例文無し'},
            ],
        }
    },
    mixins: [MixinFrComp],
    template: '<fr-filter-checkbox comptype="b-radio" :title="title" v-model="compValue" @rm_fil="rm_fil" :elements="elements"></fr-filter-checkbox>'
}
</script>

{% include 'kukan/vue_filters_cont.html' %}