
<script type="text/x-template" id="fr-add-filter">
    <div>
        <b-dropdown>
            <span slot="trigger" class="button is-selected is-primary is-outlined">
                [[title_btn]]<b-icon icon="plus-circle-outline" size="is-small"></b-icon>
            </span>
            <drop-down-top :title="title" @apply="handleApply"></drop-down-top>
            <b-dropdown-item custom>
                <div v-for="(elem, index) in elements" class="field">
                    <b-checkbox v-model="checkboxGroup" :native-value=elem.native>[[elem.label]]</b-checkbox>
                </div>
            </b-dropdown-item custom>
        </b-dropdown>
    </div>
</script>
<script>
var FrCompAddFilter = {
    data: function () {
        return {
            checkboxGroup: [],
            title: "ﾌｨﾙﾀｰ追加"
        }
    },
    components: {
        'drop-down-top': DropDownTop,
    },
    computed: {
        title_btn: function () {
            res = ""
            if (this.activenb == 0) {
                res = this.title + "　"
            }
            return res
        }
    },
    methods: {
        handleApply: function (filter_val) {
            console.log("FrCompAddFilter: APPLY -FINAL !!" + this.checkboxGroup)
            this.$emit('add_fil', this.checkboxGroup)
            this.checkboxGroup = []
        }
    },
    props: ['elements', 'activenb'],
    template: '#fr-add-filter'
}
</script>


<script type="text/x-template" id="filter-container">
    <div class="container">
        <div class="columns is-multiline is-mobile is-variable is-1">
            <div v-for="filter_idx in active_filters" class="column is-narrow">
                <component :is="filter_list[filter_idx].name"
                            :title="filter_list[filter_idx].label"
                            :idx='filter_idx'
                            @rm_fil="rm_fil"
                            v-model='filter_list[filter_idx].value'>
                </component>
<!--[[filter_list[filter_idx].value]]-->
            </div>
            <div class="column is-narrow" v-if="inactive_filters.length>0">
                <fr-filter-add :elements="inactive_filters" :activenb="active_filters.length"
                        @add_fil="add_fil"></fr-filter-add>
            </div>
        </div>
<!--[[url_filter]]-->
    </div>
</script>
<script>
Vue.component('fr-filter-container', {
    data: function () {
        return {
            filter_list: {{filter_list|safe}},
            active_filters: {{active_filters|safe}}
        }
    },
    components: {
        'fr-comp-kakusu': FrCompKakausu,
        'fr-comp-kanken': FrCompKanken,
        'fr-comp-type': FrCompType,
        'fr-comp-string-simple': FrCompStringSimple,
        'fr-comp-yomi': FrCompStringSimple,
        'fr-comp-word': FrCompStringSimple,

        'fr-filter-add': FrCompAddFilter
    },
    computed: {
        inactive_filters: function () {
            res = []
            af = this.active_filters
            console.log('Active_filters fct:' + this.active_filters+ '<' + af.indexOf(2) + '>')
            for (var i = 0, len = this.filter_list.length; i < len; i++) {
                console.log('Check IDX:' + i+ '<' + af.indexOf(i) + '>')
                if (this.active_filters.indexOf(i) < 0) {
                    console.log('Addition:' + i)
                    res.push({'native':i, 'label': this.filter_list[i].label},)
                }
            }
            console.log('inactive_filters / elements list:' + res)
            return res
        },
        url_filter: {
            get: function () {
                res = []
                for (var i = 0, len = this.filter_list.length; i < len; i++) {
                    if (this.active_filters.indexOf(i) >= 0) {
                        if (this.filter_list[i].value) {
                            console.log('Addition:' + i)
                            res.push(this.filter_list[i].label + '=' + this.filter_list[i].value)
                        }
                    }
                }
                return res.join("&")
            },
            set: function () {
            },
        }
    },
    methods: {
        add_fil: function (idx) {
            for (var i = 0; i < idx.length; i++) {
                this.active_filters.push(idx[i])
            }
            console.log('active_filters ' + this.active_filters)
        },
        rm_fil: function (idx) {
            console.log('FINAL- Remove filter ' + idx)
            var index = this.active_filters.indexOf(idx);
            if (index > -1) {
                this.filter_list[idx].value = ""
                this.active_filters.splice(index, 1);
            }
        },
    },
    watch: {
        'url_filter': function(val, oldVal){
            this.$emit('input', this.url_filter)
            console.log('FINAL- change filter ' + this.url_filter)
        }
    },
    created() {
        this.$emit('input', this.url_filter)
    },
    template: '#filter-container'
})

</script>



<script type="text/x-template" id="filtered-table">
    <div>
        <fr-filter-container @input="onFilterChange"></fr-filter-container>
        <br>
        <b-table
            :data="isEmpty ? [] : data"
            :striped="isStriped"
            :narrowed="isNarrowed"
            :loading="isLoading"
            :mobile-cards="mobileCards"

            paginated
            backend-pagination
            :total="total"
            :per-page="perPage"
            :current-page="page"
            @page-change="onPageChange"

            detailed

            backend-sorting
            :default-sort-direction="defaultSortOrder"
            :default-sort="[sortField, sortOrder]"
            @sort="onSort">

            <template slot-scope="props">
                <b-table-column v-for="(column, index) in columnsTemplate"
                    :key="index"
                    :field="column.field"
                    :label="column.title"
                    :visible="column.visible"
                    sortable >
                        <b-icon icon="check" v-if="column.type == 'bool' && props.row[column.field]==true"></b-icon>
                        <span v-html="fldformat(props.row[column.field], column, props.row['link'])"></span>
                </b-table-column>
            </template>

            <template slot="detail" slot-scope="props">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p>
                                [[ props.row.kanji ]]
                            </p>
                        </div>
                    </div>
                </article>
            </template>

            <template slot="empty">
                <section class="section">
                    <div class="content has-text-grey has-text-centered">
                        <p>
                            <b-icon
                                icon="emoticon-sad"
                                size="is-large">
                            </b-icon>
                        </p>
                        <p>結果ありません</p>
                    </div>
                </section>
            </template>

        </b-table>
    </div>
</script>
<script>
Vue.component('fr-filtered-table', {
    data() {
        return {
            containerSize: "is-fluid",
            activeTab: 1,
            data: [],
            isEmpty: false,
            isBordered: false,
            isStriped: true,
            isNarrowed: true,
            isLoading: false,
            hasMobileCards: false,

            columnsTemplate: [],

            total: 0,
            sortField: '{{sort_by}}',
            sortOrder: '{{sort_order}}',
            defaultSortOrder: 'desc',
            page: {{page}},
            filter:''
        }
    },
    props: {
        perPage: {
            type: [Number, String],
            default: 20
        },
        mobileCards: {
            type: Boolean,
            default: false
        },
    },
    methods: {
        /*
         * Load async data
         */
        loadAsyncData() {
            sortDir = this.sortOrder == 'asc' ? '' : '-'
            const params = [
                `sort_by=${sortDir}${this.sortField}`,
                `page=${this.page}`,
                `${this.filter}`
            ].join('&')

            this.isLoading = true

            var currentPageCrit = location.pathname;
            var state = {"params": location.search};
            history.replaceState(state, null, `?${params}`);

            axios.get(`${location.pathname}?ajax=1&${params}`)
                .then(({ data }) => {
                    this.data = []
                    this.total = data.total_results
                    data.results.forEach((item) => {
                        this.data.push(item)
                    })
                    this.columnsTemplate = data.columnsTemplate
                    this.isLoading = false
                })
                .catch((error) => {
                    this.data = []
                    this.total = 0
                    this.isLoading = false
                    throw error
                })
        },
        onFilterChange(filter) {
            this.filter = filter
            this.loadAsyncData()
        },
        /*
         * Handle page-change event
         */
        onPageChange(page) {
            this.page = page
            this.loadAsyncData()
        },
        /*
         * Handle sort event
         */
        onSort(field, order) {
            this.sortField = field
            this.sortOrder = order
            this.loadAsyncData()
        },
        fldformat: function(value, col, fldlink) {
            if (!value) return ''
            var res = value
            if (col.type == "bool") {
                res = ''
            }
            if (col.link != '') {
                res = '<a href="' + col.link + fldlink + '">' + value + '</a>'
            }
            return res
        },
        fldicon: function(value, fldtype, fldlink) {
            if (fldtype == "bool") {
                res = ''
            }
            if (fldlink != '') {
            }
            return res
        },
    },
    filters: {
        /**
         * Filter to truncate string, accepts a length parameter
         */
        truncate(value, length) {
        return value.length > length
            ? value.substr(0, length) + '...'
            : value
        },
    },
    created() {
    // Attach onpopstate event handler
    window.onpopstate = function(event) {
        //alert("location: " + document.location + ", state: " + JSON.stringify(event.state));

        };
    },
    template: '#filtered-table'
})

</script>
