{% extends 'kukan/base_ext.html' %}

{% block content %}
    <v-filtered-table top_title="四字熟語"　:mobile-cards="true">
        <template slot="Anki" slot-scope="{column, props}">
            <fr-addrem-anki :in_anki_init="props.row[column.field]"
                            :yoji="props.row['yoji']"
                            :edit_allowed="editEnabled">
            </fr-addrem-anki>
        </template>
    </v-filtered-table>
    <b-switch v-model="editEnabled">一覧編集可能</b-switch>
{% endblock %}

{% block vue_data %}
    data() {
        return {
            editEnabled: false,
        }
    },
{% endblock vue_data%}

{% block vue_component %}
{% include 'v-filter/v-include.html' %}
{% include 'vue/vue_addrem_anki.html' %}
{% endblock %}