{% extends 'kukan/base_ext.html' %}

{% block title %}
{{ yoji.yoji }}
{% endblock %}

{% block content %}
    <div class="columns">
        <div class="column">
            <h1 class="title" style="margin-bottom: 4px">{{ yoji.yoji }}</h1>
            <ul>
            {% for reading in yoji.reading_as_list %}
                <li>{{ reading }}</li>
            {% endfor %}
            </ul>
        </div>
    </div>
    <div class="columns">
        <div class="column is-half">
            <div class="content">
                <h2>意味</h2></div>
            <div class="content">{{ yoji.get_definition_html|safe  }}</div>
        </div>
        <div class="column">
            <div class="content"><h2>情報</h2></div>
            <ul>
                <li>
                    <strong>Anki：</strong>
                    <fr-addrem-anki :in_anki_init="{{yoji.in_anki|yesno:'true,false'}}"
                                    yoji="{{yoji.yoji}}" :edit_allowed="true">
                    </fr-addrem-anki>
                </li>
                <li><strong>漢検：</strong>{{yoji.kanken}}</li>
                <li><strong>外部辞典：</strong>
                    <ul><li><a href="{{yoji.external_ref}}">四字熟語辞典ｵﾝﾗｲﾝ</a></li></ul>
                </li>
                <br>
                {% for kj in yoji.yoji|make_list %}
                    <li><strong>{{ kj }}：</strong>
                        <a href="{% url 'kukan:kanji_detail' kj %}">詳細</a>
                        <a href="{% url 'kukan:yoji_list' %}?漢字={{kj}}">　四字熟語</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="column">
            <div class="content"><h2>分類</h2></div>
                <ul>
                {% for bunrui in yoji.bunrui.all %}
                    <li><a href="{% url 'kukan:yoji_list' %}?分類={{bunrui}}">{{bunrui}}</a></li>
                {% endfor %}
                </ul>
        </div>
    </div>
{% endblock %}

{% block vue_component %}
{% include 'vue/vue_addrem_anki.html' %}
{% endblock %}

{% block vue_data %}
{% endblock vue_data%}