
<script type="text/x-template" id="fr-filter-string-template">
    <fr-filter v-on:apply="handleApply" @rm_fil="rm_fil"
               :title="title" :current_filter="filter" :keep_title="true">
        <b-dropdown-item custom><b-field>
            <b-input :placeholder="placeholder"
                        v-model="localValue">
            </b-input>
        </b-field></b-dropdown-item>
    </fr-filter>
</script>
<script>
Vue.component('fr-filter-string', {
    mixins: [MixinFrBase],
    template: '#fr-filter-string-template',
    props: ['placeholder'],
    data: function () {
        return {
            localValue: ""
        }
    },
    computed: {
        tempFilter: {
            get: function () {
                return this.localValue
            },
            set: function (newVal) {
                this.localValue = newVal
            }
        }
    },
})
</script>
