{% load static %}
<script type="text/x-template" id="vue-navbar">
    <nav class="navbar is-fixed-top" :class="color">
        <div class="navbar-brand">
            <a class="navbar-item" href="/" v-if="has_search">
                <img src="{% static '/images/favicon/ms-icon-310x310.png' %}" width="28" height="28">
            </a>
            <div class="navbar-item" v-if="has_search">
                <form action="/" method="post">
                {% csrf_token %}
                    <nav class="level">
                        <div class="level-item">
                            <div class="field is-grouped">
                                <input class="input" :class="{'is-hovered':searchVal != ''}"
                                       style="width:190px"
                                       name="search" type="search" placeholder="検索" icon="magnify"
                                       @focus="searchFocused = true" @blur="searchFocused = false"
                                        v-model="searchVal">
                                </input>
                                <div class="button" :class="color" @click="searchVal=''" v-if="dispSearchBtn">
                                    <b-icon icon="close-circle-outline"></b-icon>
                                </div>
                            </div>
                        </div>
                        <div class="level-item" v-if="dispSearchBtn">
                            <div class="field is-grouped">
                                <input type="submit" class="button" :class="color" name="kanji" value="漢字" />
                                <input type="submit" class="button" :class="color" name="yoji" value="四字熟語" />
                                <input type="submit" class="button" :class="color" name="example" value="例文" />
                            </div>
                        </div>
                    </nav>
                </form>
            </div>

            <div class="navbar-burger burger" data-target="mainNavBar">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="mainNavBar" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="{% url 'kukan:kanji_list' %}">
                    漢字
                </a>
                <a class="navbar-item" href="{% url 'kukan:yoji_list' %}">
                    四字熟語
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-item">
                        例文
                    </a>
                    <div class="navbar-dropdown is-boxed">
                        <a class="navbar-item" href="{% url 'kukan:example_list' %}">
                            例文一覧
                        </a>
                        <a class="navbar-item" href="{% url 'kukan:example-add' %}">
                            例文作成
                        </a>
                    </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-item"><b-icon icon="dots-horizontal"></b-icon></a>
                    <div class="navbar-dropdown is-boxed is-right">
                        <a class="navbar-item" href="{% url 'kukan:stats' %}">
                        <b-icon icon="chart-bar" size="is-small"></b-icon>　統計
                        </a>
                        <a class="navbar-item" href="{% url 'kukan:export' %}">
                        <b-icon icon="download"  size="is-small"></b-icon>　エクスポート
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="http://www.bunka.go.jp/kokugo_nihongo/sisaku/joho/joho/kijun/naikaku/pdf/joyokanjihyo_20101130.pdf">
                            常用漢字表
                        </a>
                    </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-item"><b-icon icon="account"></b-icon></a>
                    <div class="navbar-dropdown is-boxed is-right">
                        <a class="navbar-item" href="{% url 'logout'%}?next={{request.path}}">
                            <b-icon icon="logout"  size="is-small"></b-icon>　{{user}}をログアウト
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</script>

<script>
Vue.component('vue-navbar', {
    data: function () {
        return {
            searchItem: "漢字",
            searchFocused: false,
            searchVal:"",
        }
    },
    computed: {
        dispSearchBtn: function () {
            return (this.searchFocused || this.searchVal != '')
        },
    },
    props: {
        has_search:{type:Boolean, default:true},
        fix_navbar:{type:Boolean, default:true},
        color:{type:String, default:"is-transparent"}
    },
    methods: {
        displayNavBar: function () {
            if (this.fix_navbar==true) {
                document.documentElement.classList.add('has-navbar-fixed-top');
            } else {
                document.documentElement.classList.remove('has-navbar-fixed-top');
            }
        }
    },
    watch: {
        hookNavBar(value) {
            this.displayNavBar()
        },
    },
    mounted: function () {
        this.displayNavBar()
    },
    template: '#vue-navbar'
})
</script>