{% extends 'kukan/base.html' %}

{% block title %}Login{% endblock %}

{% block body %}
<body>
    <section class="hero">
        <div class="hero-body">
            <h2>Login</h2>
            <form method="post">
                {% csrf_token %}
                <div>
                  <td>{{ form.username.label_tag }}</td>
                  <td>{{ form.username }}</td>
                </div>
                <div>
                  <td>{{ form.password.label_tag }}</td>
                  <td>{{ form.password }}</td>
                </div>
                <button class="button is-primary" type="submit">Login</button>
            </form>
        </div>
    </section>
</body>
{% endblock %}