{% extends 'kukan/base.html' %}
{% load util_tags %}

{% block title %}ログイン{% endblock %}

{% block body %}
<section class="section">
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <nav class="level">
                <div class="level-item">
                    <h1 class="title">ログイン</h1>
                </div>
            </nav>
            <nav class="level">
                <div class="level-item">
                    <div class="field">
                        <label class="label">{{ form.username.label_tag }}</label>
                        <div class="control">
                            {{ form.username|add_class:"input is-rounded" }}
                        </div>
                    </div>
                </div>
            </nav>
            <nav class="level">
                <div class="level-item">
                    <div class="field">
                        <label class="label">{{ form.password.label_tag }}</label>
                        <div class="control">
                            {{ form.password|add_class:"input is-rounded" }}
                        </div>
                    </div>
                </div>
            </nav>
            <nav class="level">
                <div class="level-item">
                    <div class="field">
                        <div class="control">
                            <button class="button is-primary is-centered" type="submit">ログイン</button>
                        </div>
                    </div>
                </div>
            </nav>
        </form>
        </div>
    </div>
</section>
{% endblock %}