<div class="columns is-mobile">
    <div class="column is-narrow">
        <div class="field">
            <input class="input is-static" readonly tabindex="-1" style="font-weight: bold;"
                   type="button" value="{{field.label}}">
        </div>
    </div>
    <div class="column">
        <b-field {% if field.errors %} type="is-danger" {% endif %}>
            {{field}}
        </b-field>
        {% if field.errors %}
            {% for error in field.errors %}
                <p class="help is-danger">{{ error|escape }}</p>
            {% endfor %}
        {% endif %}
    </div>
</div>